$offwhite: #fffdfa;
$darkBlue: #00001a;
$gunmetal: #5e607a;
$red: #f15d51;
$silver: #c5c6ce;
$yellow: #e9aa52;

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: $offwhite;
  font-size: 15px;
  line-height: 26px;
  font-family: Inter;
  color: $gunmetal;
}

#wrapper {
  margin: 0px auto;
  max-width: 1110px;
  padding: 0px 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.active {
  &::after {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    position: fixed;
    z-index: 1;
  }
  .headnav {
    transform: translate(0);
  }
}

.headnav {
  background: white;
  inset: 0 0 0 auto;
  position: fixed;
  width: 75%;
  transition: all 600ms;
  transform: translate(100%);
  z-index: 10;
}

.close {
  position: absolute;
  right: 35px;
  top: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  list-style: none;
  padding: 0px 30px;
  a:link,
  a:visited {
    text-decoration: none;
    color: $darkBlue;
  }
}

.mobile {
  display: block;
}
.desktop {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
#latest {
  display: grid;
  grid-template-columns: 1fr;
}
.latestitems {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0px;
    gap: 20px;
    h2 {
      font-size: 43px;
      color: $darkBlue;
      line-height: 1.1;
      font-weight: 800;
    }
  }
}

.readmore {
  background: $red;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    background: $darkBlue;
  }
}

.latestlist {
  background: $darkBlue;
  padding: 25px;
  h2 {
    color: $yellow;
    font-size: 32px;
    font-weight: 800;
    padding: 0px 0px 20px 0px;
    text-align: center;
  }
  .widgetitem {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid;
    &:last-child {
      border: none;
    }
    h3 {
      color: $offwhite;
    }
    p {
      color: $silver;
    }
  }
}

#featured {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.featureditem {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 20px;
  .count {
    font-size: 32px;
    font-weight: 700;
    color: $silver;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: $darkBlue;
  }
}

@media screen and (min-width: 760px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .headnav {
    position: relative;
    transform: none;
  }
  .menu {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 0px;
  }
  #latest {
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .latestitems {
    .list {
      grid-template-columns: 1fr 1fr;
      padding: 20px 0px 20px 10px;
    }
  }
  #featured{
    grid-template-columns: repeat(3,1fr);
    margin-top: 20px;
  }
}
