$offwhite: #fffdfa;
$darkBlue: #00001a;
$gunmetal: #5e607a;
$red: #f15d51;
$silver: #c5c6ce;
$yellow: #e9aa52;

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: $offwhite;
  font-size: 15px;
  line-height: 26px;
  font-family: Inter;
  color: $gunmetal;
}

#wrapper {
  margin: 0px auto;
  max-width: 1110px;
  padding: 0px 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  &::after {
    display: block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    inset: 0;
    position: absolute;
    z-index: 1;
  }
  .headnav {
    transform: translate(0);
  }
}

.headnav {
  background: white;
  inset: 0 0 0 auto;
  position: absolute;
  width: 75%;
  transition: all 600ms;
  transform: translate(100%);
  z-index: 10;
}

.close {
  position: absolute;
  right: 35px;
  top: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  list-style: none;
  padding: 0px 30px;
  a:link,
  a:visited {
    text-decoration: none;
    color: $darkBlue;
  }
}
